<div class="container-fluid">
    <footer class="d-flex flex-wrap justify-content-between align-items-center">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="me-2 mb-md-0 text-muted text-decoration-none lh-1 fw-bold">
          Notes
        </a>
        <span class="mb-md-0 text-muted">© 2022 Company, Inc</span>
      </div>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><i class="bi fa-brands fa-instagram" width="40" height="40"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><i class="bi fa-brands fa-instagram" width="40" height="40"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><i class="bi fa-brands fa-instagram" width="24" height="24"></i></a></li>
      </ul>

    </footer>
</div>